In [16]:
import pandas as pd
import numpy as np

In [17]:
tableau = pd.read_csv("C:\\Users\\rachidj\\Desktop\\Datafrance_\\dataset\\chomage.csv", sep=',')

In [18]:
tableau.head(10)

,ville,lien,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aast (64460),/management/ville/aast/ville-64001,7.5,7.3,7.3,6.7,6.1,7.5,7.6,7.4,7.8,8.3,8.3,8.6,8.1
1,Abainville (55130),/management/ville/abainville/ville-55001,8.5,9.6,10,9.7,8.5,10.2,10.6,10.1,11.1,12.1,11.3,11.7,11.1
2,Abancourt (59268),/management/ville/abancourt/ville-59001,9.4,9.7,10.5,9.5,9.3,11.6,11.3,11.2,11.9,13,12.4,12.7,12.3
3,Abaucourt (54610),/management/ville/abaucourt/ville-54001,7.4,7.6,8.1,7.2,6.5,8.1,8.4,8.2,8.9,9.6,9.2,9.7,9.3
4,Abaucourt-Hautecourt (55400),/management/ville/abaucourt-hautecourt/ville-5...,8.3,8.9,9.9,9.1,8.4,10.6,10.2,10.3,11.1,11.9,11.2,11.3,10.6
5,Abbans-Dessous (25320),/management/ville/abbans-dessous/ville-25001,6.9,7.2,7.4,6.8,6.2,8.2,8.1,7.4,7.8,8.4,8.1,8.5,8.1
6,Abbans-Dessus (25440),/management/ville/abbans-dessus/ville-25002,6.9,7.2,7.4,6.8,6.2,8.2,8.1,7.4,7.8,8.4,8.1,8.5,8.1
7,Abbaretz (44170),/management/ville/abbaretz/ville-44001,7.4,7.4,7.3,6.6,5.7,7.5,7.6,7.1,7.5,8.2,8.1,8.6,7.9
8,Abbécourt (02300),/management/ville/abbecourt/ville-02001,11.5,12,12.3,10.7,10.3,13.6,13.3,13.2,15.1,15.7,15.2,15.5,15.2
9,Abbecourt (60430),/management/ville/abbecourt/ville-60002,8,8.3,8.4,7.6,6.9,9.3,9.2,8.5,9.3,10.4,10.3,10.5,10

In [19]:
tableau['ville']

0                        Aast (64460)
1                  Abainville (55130)
2                   Abancourt (59268)
3                   Abaucourt (54610)
4        Abaucourt-Hautecourt (55400)
                     ...
32966               Zuydcoote (59123)
32967               Zuytpeene (59670)
32968                   Œting (57600)
32969          Œuf-en-Ternois (62130)
32970                  Œuilly (02160)
Name: ville, Length: 32971, dtype: object

In [20]:
tableau.columns

Index(['ville', 'lien', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [21]:
tableau.loc[tableau['2016'].astype(str).str.contains('nc', na=False), '2016'] = np.nan

In [22]:
tableau['2016'].astype(float)

0         8.1
1        11.1
2        12.3
3         9.3
4        10.6
         ...
32966    11.8
32967     8.0
32968    12.7
32969     8.9
32970    12.5
Name: 2016, Length: 32971, dtype: float64

In [25]:
tableau.dtypes

ville    object
lien     object
2004     object
2005     object
2006     object
2007     object
2008     object
2009     object
2010     object
2011     object
2012     object
2013     object
2014     object
2015     object
2016     object
dtype: object

In [26]:
tableau['2016'] = tableau['2016'].astype(float)

In [27]:
tableau['2016'].sum()

322489.00000000006

In [28]:
tableau['2016'].mean()

9.78217611550945

In [29]:
tableau['2016'].max()

34.1

In [31]:
for i in range(2004,2017):
    tableau.loc[tableau[str(i)].astype(str).str.contains('nc', na=False), str(i)] = np.nan
    tableau[str(i)] = tableau[str(i)].astype(float)

In [32]:
tableau.dtypes

ville     object
lien      object
2004     float64
2005     float64
2006     float64
2007     float64
2008     float64
2009     float64
2010     float64
2011     float64
2012     float64
2013     float64
2014     float64
2015     float64
2016     float64
dtype: object

In [34]:
tableau.to_csv('C:\\Users\\rachidj\\Desktop\\Datafrance_\\dataset\\chomage.csv', index=False)

In [36]:
df= pd.read_csv('C:\\Users\\rachidj\\Desktop\\Datafrance_\\dataset\\chomage.csv')

In [37]:
df.dtypes

ville     object
lien      object
2004     float64
2005     float64
2006     float64
2007     float64
2008     float64
2009     float64
2010     float64
2011     float64
2012     float64
2013     float64
2014     float64
2015     float64
2016     float64
dtype: object

In [38]:
df[df['lien'] == "/management/ville/abbans-dessus/ville-25002"]['2016'].iloc[0]

8.1