In [1]:
print("Hello World")

Hello World

In [2]:
print("Bonjour")

Bonjour

In [3]:
x = 5

In [4]:
print(x)

5

In [5]:
maVariable = 20

In [6]:
ma_variable = 25

In [7]:
12maVariable = 5

SyntaxError: invalid syntax (<ipython-input-7-5fa5b06bb2d9>, line 1)

In [8]:
type(maVariable)

int

In [9]:
decimal = 2.7

In [10]:
type(decimal)

float

In [11]:
prenom = "Henri"

In [12]:
type(prenom)

str

In [13]:
condition = True

In [14]:
type(condition)

bool

In [15]:
x, y, z = 25, 30, 40

In [16]:
print(y)

30

In [17]:
print(z)

40

In [18]:
x = y = z = 50

In [19]:
print(y)

50

In [20]:
print(x)

50

In [21]:
x = 25
y = 4
print(x + y)

29

In [22]:
print(x*y)

100

In [23]:
print(x/y)

6.25

In [24]:
print(x//y)

6

In [25]:
print(x%y)

1

In [26]:
prenom = "Henri"
nom = "Dupont"
print(nom + prenom)

DupontHenri

In [27]:
# Les chaines de caracteres

In [28]:
prenom = "Henri"

In [29]:
phrase = "c'est un grand jour aujourd'hui"

In [30]:
print(phrase)

c'est un grand jour aujourd'hui

In [32]:
print("henri" + ' ' + "Dupond, " + "rentre chez lui")

henri Dupond, rentre chez lui

In [33]:
prenom = "Henri"

In [34]:
# H E N R I
# 0 1 2 3 4
prenom[2]

'n'

In [35]:
prenom[3]

'r'

In [44]:
phrase = "c'est un grand jour aujourd'hui"
        # 0123456789

In [38]:
phrase[-1]

'i'

In [39]:
# [on commence a l'index inclus : index non inclus]
phrase[9:14]

'grand'

In [40]:
prenom = 'Henri'
prenom[1:3]

'en'

In [43]:
phrase[-1:-4]

''

In [45]:
phrase[-3:-1]

'hu'

In [46]:
phrase[-3:]

'hui'

In [47]:
phrase[9:]

"grand jour aujourd'hui"

In [48]:
prenom = "Henri"

In [49]:
len(prenom)

5

In [50]:
prenom.lower()

'henri'

In [51]:
prenom.upper()

'HENRI'

In [52]:
prenom.replace('H', 'K')

'Kenri'

In [53]:
phrase = "c'est un grand jour aujourd'hui"

In [54]:
phrase.split()

["c'est", 'un', 'grand', 'jour', "aujourd'hui"]

In [55]:
phrase.split()[0]

"c'est"

In [56]:
phrase.split()[0].replace('c', 'n')

"n'est"

In [61]:
phrase.split()[0].replace('c', 'n').split("'")
# str => list[0] => str => replace

['n', 'est']

In [69]:
phrase.split()[0].replace('c', 'n').split("'")[1].replace('s','n').upper()

'ENT'

In [62]:
type(phrase)

str

In [63]:
type(phrase.split())

list

In [64]:
type(phrase.split()[0])

str

In [65]:
type(phrase.split()[0].replace('c', 'n'))

str

In [66]:
type(phrase.split()[0].replace('c', 'n').split("'"))

list

In [67]:
len(phrase)

31

In [68]:
len(phrase.split()[0].replace('c', 'n').split("'")[1].replace('s','n'))

3

In [70]:
# Les listes

In [71]:
maListe = [25, 3.45, 'henri', True]

In [72]:
          # 0   1      2      3

In [74]:
maListe[2]

'henri'

In [75]:
maListe[-1]

True

In [76]:
maListe[0:2]

[25, 3.45]

In [77]:
maListe[:2]

[25, 3.45]

In [78]:
type(maListe)

list

In [79]:
type(maListe[2])

str

In [80]:
maListe[2][2]

'n'

In [81]:
maListe[2].replace('h','k')

'kenri'

In [82]:
prenom = maListe[2]

In [83]:
prenom

'henri'

In [84]:
prenom_modifier = prenom.replace('h','k')

In [85]:
prenom_modifier

'kenri'

In [88]:
maListe[2].replace('h','k')

'kenri'

In [89]:
maListe = ['pomme','banane','orange']

In [90]:
print(maListe[-1])

orange

In [91]:
maListe.append('poire')

In [92]:
print(maListe)

['pomme', 'banane', 'orange', 'poire']

In [93]:
maListe.append(2.35)

In [94]:
maListe

['pomme', 'banane', 'orange', 'poire', 2.35]

In [95]:
maListe.insert(2, 'clementine')

In [96]:
maListe

['pomme', 'banane', 'clementine', 'orange', 'poire', 2.35]

In [97]:
maListe.remove(2.35)

In [98]:
maListe

['pomme', 'banane', 'clementine', 'orange', 'poire']

In [99]:
maListe.pop()

'poire'

In [100]:
maListe

['pomme', 'banane', 'clementine', 'orange']

In [101]:
dernierElement = maListe.pop()

In [102]:
print(dernierElement)

orange

In [103]:
liste = ['bonjour','henri']

In [105]:
liste[0] + liste[1]

'bonjourhenri'

In [106]:
liste[0] + ' ' + liste[1]

'bonjour henri'

In [107]:
''.join(liste)

'bonjourhenri'

In [108]:
' '.join(liste)

'bonjour henri'

In [109]:
'+'.join(liste)

'bonjour+henri'

In [110]:
a = [1,2,3]
b = [4,5,6]
c = a + b

In [111]:
print(c)

[1, 2, 3, 4, 5, 6]

In [112]:
maListe = [1,2,3,[4,5,6],7,8]

In [113]:
maListe[3]

[4, 5, 6]

In [114]:
type(maListe[3])

list

In [115]:
maListe[3][-1]

6

In [116]:
maListe[0][0]

TypeError: 'int' object is not subscriptable

In [117]:
# Les dictionnaires

In [118]:
monDico = {'cle1' : 25, 'cle2' : 40, 'cle3': 50}
# dictionnaire = {cle:valeur, cle:valeur, ...}

In [119]:
monDico['cle3']

50

In [120]:
monDico.get('cle3')

50

In [121]:
monDico.get('cle4')

In [122]:
type(monDico.get('cle4'))

NoneType

In [123]:
monDico['cle4']

KeyError: 'cle4'

In [124]:
dico = {'cle1' : [1,2,3], 'cle2': True, 'cle3' : 2.35}

In [125]:
dico['cle1']

[1, 2, 3]

In [126]:
dico['cle1'][1]

2

In [127]:
dico = {'cle1' : [1,2,3], 'cle2': 'Henri', 'cle3' : 2.35}

In [128]:
dico['cle2'][-1]

'i'

In [129]:
dico.keys()

dict_keys(['cle1', 'cle2', 'cle3'])

In [131]:
list(dico.keys())

['cle1', 'cle2', 'cle3']

In [132]:
list(dico.keys())[2]

'cle3'

In [133]:
dico.values()

dict_values([[1, 2, 3], 'Henri', 2.35])

In [134]:
list(dico.values())

[[1, 2, 3], 'Henri', 2.35]

In [135]:
list(dico.values())[0][1]

2

In [136]:
dico = {}

In [137]:
dico['ville'] = 'Paris'

In [138]:
print(dico)

{'ville': 'Paris'}

In [139]:
dico['code postale'] = 75000

In [140]:
print(dico)

{'ville': 'Paris', 'code postale': 75000}

In [141]:
dico['region'] = 'Ile-de-france'

In [142]:
dico

{'ville': 'Paris', 'code postale': 75000, 'region': 'Ile-de-france'}

In [143]:
maFamille = {
    'pere':{'nom':'henri', 'age':45},
    'mere':{'nom':'josiane', 'age': 40},
    'fils':{'nom':'laurent','age':15}
}

In [144]:
maFamille.keys()

dict_keys(['pere', 'mere', 'fils'])

In [145]:
maFamille.values()

dict_values([{'nom': 'henri', 'age': 45}, {'nom': 'josiane', 'age': 40}, {'nom': 'laurent', 'age': 15}])

In [146]:
maFamille['pere'].keys()

dict_keys(['nom', 'age'])

In [148]:
maFamille['pere'].values()

dict_values(['henri', 45])

In [149]:
maFamille['fils']['age']

15

In [150]:
maFamille['mere']['nom']

'josiane'

In [151]:
maFamille = {
    'pere':{'nom':'henri', 'age':45},
    'mere':{'nom':'josiane', 'age': 40},
    'fils':{'nom':'laurent','age':15, 'salaires':[2000,2100,1900,1500]}
}

In [152]:
maFamille['fils']['salaires'][2]

1900

In [153]:
# les conditions if/elif/else

In [154]:
a = 5
b = 7

In [155]:
a == b

False

In [156]:
a != b

True

In [157]:
a < b

True

In [158]:
a > b

False

In [159]:
a <= b

True

In [160]:
a >= b

False

In [161]:
# syntaxe
# if condition:
#    bloc d'instructions
# elif condition:
#    bloc d'instructions
# else:
#    bloc d'instructions

In [162]:
if a < b:
    print("a est plus petit que b")
elif a > b:
    print("a est plus grand que b")
else:
    print("a et b sont egaux")

a est plus petit que b

In [163]:
a = 2
b = 33
print("a est plus petit que b") if a < b else print("a est plus grand que b")

a est plus petit que b

In [164]:
# Les boucles FOR

In [165]:
print(range(0,10))

range(0, 10)

In [166]:
# [0,1,2,3,4,5,6,7,8,9]

In [167]:
range(0,10,2)

range(0, 10, 2)

In [168]:
# [0,2,4,6,8]

In [169]:
for chiffre in range(0,11):
    print(chiffre)

0
1
2
3
4
5
6
7
8
9
10

In [170]:
for fruit in ['banane','pomme','orange']:
    print(fruit)

banane
pomme
orange

In [171]:
for lettre in "Henri":
    print(lettre)

H
e
n
r
i

In [172]:
maListe = [1,3,4,9,7,2]
for e in maListe:
    print(e)

1
3
4
9
7
2

In [173]:
for e in maListe:
    if e%2 == 0:
        print(e ,"est pair")

4 est pair
2 est pair

In [174]:
fruits = ['pomme','banane','orange']
for fruit in fruits:
    if 'an' in fruit:
        print(fruit)

banane
orange

In [175]:
[i for i in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
[i+2 for i in range(0,10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [177]:
[i for i in maListe if i%2 == 0]

[4, 2]

In [178]:
colonnes = ['ville','cp','region','code insee', 'altitude','nbre dhabitants']
dico ={}
dico['ville'] = ''

In [179]:
dico

{'ville': ''}

In [180]:
monDico = {i : '' for i in colonnes}

In [181]:
monDico

{'ville': '', 'cp': '', 'region': '', 'code insee': ''}

In [182]:
# Les fonctions

In [186]:
def multiplication(a,b):
    return a * b

In [187]:
multiplication()

TypeError: multiplication() missing 2 required positional arguments: 'a' and 'b'

In [188]:
multiplication(25,5)

125

In [189]:
def direBonjour(nom):
    return "Bonjour " + nom

In [190]:
direBonjour("Henri")

'Bonjour Henri'

In [192]:
direBonjour(25)

TypeError: can only concatenate str (not "int") to str

In [196]:
def direBonjour(nom):
    return "Bonjour " + nom

In [197]:
direBonjour(str(25))

'Bonjour 25'

In [198]:
variable = 25
direBonjour(str(variable))

'Bonjour 25'

In [199]:
int(25.2)

25

In [200]:
float(25)

25.0